.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  min-width: 15%;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.legend-box {
  width: 10px;
  height: 10px;
}

.start {
  background: #0000ff;
}

.end {
  background: #ff0000;
}

.path {
  background: #f5f5dc;
}

.wall {
  background: #86b300;
}

.visited {
  background: #6699ff;
}

.in-stack {
  background: #e6e600;
}

.probes {
  background: #f44242;
}

.solution {
  background: #152951;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 130px;
}

[class*=outer] {
  border: 1px solid lightgrey;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.inner {
  color: darkgrey;
  font-weight: bold;
}

.info {
  cursor: pointer;
}

[class*=exp] {
  position: absolute;
  background: white;
  border: 0.5px solid lightgrey;
  width: 400px;
  padding: 20px;
  top: 41%;
}
