body {
  margin: 0 auto;
  width: 100%;
  min-width: 1000px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
}

.maze-container {
  width: 70%;
  min-width: 55%;
  display: flex;
  flex-direction: column;
}

.maze-wrapper {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-bottom: 20px;
}

.maze-solvers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.solv-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.maze-canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
}

.gen-buttons {
  width: 100px;
  font-size: 13px;
  padding: 10px 5px;
  border-radius: 5px;
  margin: 20px 15px;
  margin-bottom: 5px;
  transition: 0.5s;
}

.gen-buttons:hover {
  background: lightgrey;
  cursor: pointer;
}

.gen-buttons:disabled {
  cursor: not-allowed;
}

.gen-buttons:disabled {
  background: lightgrey;
}

.fab {
  font-size: 30px;
}

.fa-linkedin {
  color: #0069cc;
}

.fa-github {
  color: black;
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.name {
  margin-bottom: 50px;
}

.logo {
  padding: 0 10px;
}

.personal {
  width: 28px;
  height: 28px;
  border-radius: 3px;
}

.generators {
  display: flex;
}
